html {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
}
div {
    display: flex;
   
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans.woff2') format('woff2'),
        url('font/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.form {

    flex-direction: column;
     flex-basis: 100%;
     justify-content: center;
     
   
}

.blocks {
    padding: 50px;
    width: 400px;
   flex-flow: row wrap;
   gap: 30px;
   
}


img {
     
    width: 500px; 
    height:100vh; 
    object-fit: cover
}
.top {
    font-size: 1.5em;
    flex-grow: 1;
    background-color: aliceblue;
    align-items: flex-end;
    padding: 50px; 
}
.middle {
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}
.bottom {
    flex-grow: 1;
    background-color: aliceblue;
    padding: 50px;
}
button {
     background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
input {
     border: 1px solid #ccc;
  border-radius: 4px;
  height: 22px;
}
input:focus {
  border-color: blue;
  outline: none;
}
  input:invalid {
        border-color: red;
    }